body {
    background-color: rgb(204, 204, 204);
}

#paint-board {
    /* height: 550px; */
    width: 750px;
    background: rgb(229, 229, 229);
    margin: 50px 250px;
    border-radius: 25px;
}

#grid {
    padding: 20px;
    height: 450px;
}

.cell {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin: 1px;
}

#palette {
    margin: 20px;
    padding: 30px;
}

.color {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: teal;
    float: left;
    margin: 5px;
}